* {
    padding: 0px;
    margin: 0px;
    color: white;
}
#navbar {
    background-color: black;
    height: 60px;

}
button{
    color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a {
    margin-right: 200px;
}
